<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">MovieList 
      <span *ngIf="loading" class="pull-right">
        <!--<button class="btn btn-danger">Loading</button>-->
        <img src="/assets/status.gif" width="70" height="30">
      </span>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered">
        <tr>
          <th>Name</th>
          <th>Writer</th>
          <th>Genre</th>
          <th>Year</th>
        </tr>
        <tr *ngFor="let movie of movies">
          <td class="cursor-pointer" (click)="handleClick($event)">{{movie.name}}</td>
          <td>{{movie.writer}}</td>
          <td>{{movie.genre}}</td>
          <td>{{movie.year}}</td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">Lasted Updated :</div>
  </div>
</div>